Repository dasch-swiss/dsp-api, pull requests merged in 2018-06, with the labels that each got.

#873 Fix Browser Tests for Salsah1
  .travis.yml
  docs/DocsBuild.sbt
  docs/src/paradox/05-internals/development/build-process.md
  docs/src/paradox/06-salsah/index.md
  salsah1/src/test/scala/org.knora.salsah/browser/SearchAndEditSpec.scala
Labels: bug

#870 Gravsearch enhancements and fixes
  README.md
  docs/src/jekyll/Gemfile.lock
  docs/src/paradox/00-release-notes/v1.6.0.md
  docs/src/paradox/03-apis/api-v2/introduction.md
  docs/src/paradox/03-apis/api-v2/query-language.md
  docs/src/paradox/03-apis/api-v2/reading-and-searching-resources.md
  webapi/_test_data/all_data/beol-data.ttl
  webapi/src/main/scala/org/knora/webapi/Exceptions.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/searchmessages/SearchMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/search/QueryTraverser.scala
  webapi/src/main/scala/org/knora/webapi/util/search/SparqlQuery.scala
  webapi/src/main/scala/org/knora/webapi/util/search/TypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/util/search/v2/ExplicitTypeInspectorV2.scala
  webapi/src/main/scala/org/knora/webapi/util/search/v2/GravsearchParserV2.scala
  webapi/src/main/twirl/queries/sparql/v2/searchFulltextGraphDB.scala.txt
  webapi/src/test/resources/test-data/searchR2RV2/LinkObjectsToBooks.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingByIriWithRequestedValues.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/foafPerson.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/incomingPagesForBook.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithAuthor.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithAuthorWithInformation.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithPersonWithName.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithPersonWithName2.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithPersonWithNameOptional.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/regionsOfZeitgloecklein.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/ExceptionHandlerR2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/v2/GravsearchParserV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/v2/TypeInspectorSpec.scala
Labels: API v2, enhancement, ready-for-review

#883 Allow a nested block in an OPTIONAL in Gravsearch
  docs/src/paradox/00-release-notes/v1.6.0.md
  docs/src/paradox/03-apis/api-v2/query-language.md
  webapi/_test_data/e2e.v2.SearchRouteV2R2RSpec/gravsearchtest1-admin.ttl
  webapi/_test_data/e2e.v2.SearchRouteV2R2RSpec/gravsearchtest1-data.ttl
  webapi/_test_data/e2e.v2.SearchRouteV2R2RSpec/gravsearchtest1-onto.ttl
  webapi/src/main/scala/org/knora/webapi/util/search/v2/GravsearchParserV2.scala
  webapi/src/test/resources/test-data/searchR2RV2/ProjectsWithOptionalPersonOrBiblio.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/v2/GravsearchParserV2Spec.scala
Labels: API v2, Gravsearch, enhancement, ready-for-review

#884 Implement Gravsearch type inference
  .travis.yml
  docs/src/paradox/00-release-notes/v1.6.0.md
  docs/src/paradox/02-knora-ontologies/knora-base.md
  docs/src/paradox/03-apis/api-v2/introduction.md
  docs/src/paradox/03-apis/api-v2/knora-iris.md
  docs/src/paradox/03-apis/api-v2/ontology-information.md
  docs/src/paradox/03-apis/api-v2/query-language.md
  docs/src/paradox/faq.md
  docs/src/paradox/index.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/KnoraResponseV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/Responder.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/OntologyResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/search/ApacheLuceneSupport.scala
  webapi/src/main/scala/org/knora/webapi/util/search/QueryTraverser.scala
  webapi/src/main/scala/org/knora/webapi/util/search/TypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/AnnotationReadingGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchParser.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectionRunner.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectionUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/InferringGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/IntermediateTypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/util/search/v2/ExplicitTypeInspectorV2.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/resources/test-data/searchR2RV2/booksWithPage100.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/letterWithPersonWithoutName.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/lettersByMeier.jsonld
  webapi/src/test/scala/org/knora/webapi/CoreSpec.scala
  webapi/src/test/scala/org/knora/webapi/R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/other/v1/DrawingsGodsV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ListsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ListsResponderV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/gravsearch/GravsearchParserSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectorSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/v2/TypeInspectorSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/standoff/XMLToStandoffUtilSpec.scala
Labels: API v2, Gravsearch, breaking (salsah2), ready-for-review

#892 doc (webapi): add UBKVP shortcode to the list
  webapi/_test_data/project_shortcodes.md
Labels: enhancement

#901 build (travis): change sipi docker command
  .travis.yml
  docs/src/paradox/07-sipi/setup-sipi-for-knora.md
  sipi/README.md
Labels: bug

#905 Fix: Creation of xpath expression to insert word separator
  webapi/src/main/scala/org/knora/webapi/util/standoff/XMLToStandoffUtil.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v1/StandoffV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/standoff/XMLToStandoffUtilSpec.scala
Labels: API v1, bug

#899 Gravsearch search for list value using complex schema
  docs/src/paradox/00-release-notes/v1.6.0.md
  docs/src/paradox/03-apis/api-v2/query-language.md
  webapi/_test_data/all_data/beol-data.ttl
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjects.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/search/SparqlQuery.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/AnnotationReadingGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchParser.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectionUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/InferringGravsearchTypeInspector.scala
  webapi/src/main/twirl/queries/sparql/v2/getAllOntologyInfo.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/standoffOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/standoffOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/searchR2RV2/letterWithSubject.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/thingReferringToSpecificListNode.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/util/search/gravsearch/GravsearchParserSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/gravsearch/GravsearchTypeInspectorSpec.scala
Labels: API v2, Gravsearch, enhancement, ready-for-review

#896 feature (webapi): startup state + health endpoint
  docs/src/paradox/00-release-notes/v1.6.0.md
  docs/src/paradox/05-internals/design/design-overview.md
  webapi/WebapiBuild.sbt
  webapi/src/it/scala/org/knora/webapi/ITKnoraFakeSpec.scala
  webapi/src/it/scala/org/knora/webapi/ITKnoraLiveSpec.scala
  webapi/src/it/scala/org/knora/webapi/KnoraFakeService.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/ErrorV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiPermissionsV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiScriptsV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/other/v1/DrawingsGodsV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/util/TestingUtilities.scala
  webapi/src/main/resources/application.conf
  webapi/src/main/resources/https/.gitignore
  webapi/src/main/resources/https/generate-test-ca.sh
  webapi/src/main/resources/https/generate-test-cert.sh
  webapi/src/main/resources/logback.xml
  webapi/src/main/scala/org/knora/webapi/Exceptions.scala
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/Main.scala
  webapi/src/main/scala/org/knora/webapi/Settings.scala
  webapi/src/main/scala/org/knora/webapi/app/ApplicationStateActor.scala
  webapi/src/main/scala/org/knora/webapi/messages/app/appmessages/ApplicationStateMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/GraphDBAPI.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/TriplestoreMessages.scala
  webapi/src/main/scala/org/knora/webapi/routing/HealthRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/RejectingRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/SwaggerApiDocsRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/store/StoreManager.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/TriplestoreManager.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/embedded/JenaTDBActor.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/scala/org/knora/webapi/E2ESimSpec.scala
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/HealthRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/UsersADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/store/triplestore/AllTriplestoreSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/AkkaHttpUtils.scala
Labels: enhancement
