Repository dasch-swiss/dsp-api, pull requests merged in 2018-10, with the labels that each got.

#1001 fix (salsah1): simpletext
  salsah1/src/public/js/jquery.htmleditor.js
  salsah1/src/public/js/jquery.propedit.js
Labels: ready-for-review

#1006 Rewrite date processing in API v2
  webapi/WebapiBuild.sbt
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/DateUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/date/CalendarDateUtilV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponseCheckerV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/util/date/CalendarDateUtilV2Spec.scala
Labels: API v2, enhancement, ready-for-review

#1008 bug fix simpletext
  salsah1/src/public/js/jquery.propedit.js
Labels: bug, frontend (salsah), ready-for-review

#1009 Implement graph query in API v2
  docs/src/paradox/00-release-notes/v2.x.x.md
  docs/src/paradox/03-apis/api-v2/reading-and-searching-resources.md
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/Settings.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2Simple.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjects.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/main/twirl/queries/sparql/v2/getGraphData.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/getGraphDataGraphDB.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/getGraphDataStandard.scala.txt
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingGraphBoth.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingGraphBothWithDepth.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingGraphBothWithExcludedProp.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingGraphInbound.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingGraphOutbound.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
Labels: API v2, enhancement, ready-for-review

#1013 fix (salsah): check if there is a value before accessing it
  salsah1/src/public/js/jquery.propedit.js
Labels: bug, frontend (salsah)
