Repository dasch-swiss/dsp-api, pull requests merged in 2018-08, with the labels that each got.

#973 Fix bulk import parsing bug and limit concurrent client connections
  docs/DocsBuild.sbt
  docs/src/paradox/00-release-notes/v1.7.0.md
  docs/src/paradox/00-release-notes/v1.8.0.md
  webapi/WebapiBuild.sbt
  webapi/_test_data/ontologies/anything-onto.ttl
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/Settings.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/SipiResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/main/scala/org/knora/webapi/util/ActorUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API v1, bug, bulk-import, triplestore

#969 fix (webapi): startup check does not detect running triplestore
  docs/src/paradox/00-release-notes/v1.7.0.md
  salsah1/SalsahBuild.sbt
  webapi/scripts/graphdb-se-knora-prod-repository-config.ttl.tmpl
  webapi/src/main/resources/application.conf
  webapi/src/main/resources/logback.xml
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/scala/org/knora/webapi/e2e/v1/UsersV1E2ESpec.scala
Labels: bug

#975 feature (webapi): not return or allow changing of built-in users
  .travis.yml
  webapi/src/main/scala/org/knora/webapi/responders/admin/UsersResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/twirl/queries/sparql/admin/getProjectAdminMembers.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/getProjectMembers.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/getUsers.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/updateUser.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/admin/UsersADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
Labels: enhancement

#982 Don't allow class with cardinalities on P and on a subproperty of P
  docs/src/paradox/00-release-notes/v1.8.0.md
  docs/src/paradox/02-knora-ontologies/knora-base.md
  webapi/_test_data/ontologies/anything-onto.ttl
  webapi/_test_data/responders.v2.OntologyResponderV2Spec/class-inherits-prop-and-subprop-onto.ttl
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/store/triplestore/GraphDBConsistencyCheckingSpec.scala
Labels: API v2, bug, bulk-import, ready-for-review
