Repository dasch-swiss/dsp-api, pull requests merged in 2018-05, with the labels that each got.

#839 build (travis): bumb jekyll version
  .travis.yml
  docs/src/jekyll/Gemfile
  docs/src/jekyll/Gemfile.lock
Labels: enhancement

#830 feature (function calls KnarQL): accept custom function calls in KnarQL
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/util/search/SparqlQuery.scala
  webapi/src/main/scala/org/knora/webapi/util/search/v2/SearchParserV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/search/v2/SearchParserV2Spec.scala
Labels: API v2, breaking (salsah2)

#811 Add V2 responder and messages for standoff
  README.md
  docs/src/api-v2/Basic.ts
  docs/src/api-v2/MappingFormats.ts
  docs/src/api-v2/samples/mappingMessages.ts
  docs/src/paradox/03-webapi/api-v2/index.md
  docs/src/paradox/03-webapi/api-v2/xml-to-standoff-mapping.md
  webapi/_test_data/test_route/texts/letterToHtml.xsl
  webapi/_test_data/test_route/texts/mappingForLetterWithXSLTransformation.xml
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/ontologymessages/OntologyMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/standoffmessages/StandoffMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/KnoraResponseV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2Simple.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjects.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/standoffmessages/StandoffMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/ResponderManager.scala
  webapi/src/main/scala/org/knora/webapi/responders/ResponderWithStandoffV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/package.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/OntologyResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/StandoffResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValuesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/StandoffResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ValuesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/StandoffRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/twirl/StandoffTag.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/standoff/StandoffTagUtilV2.scala
  webapi/src/main/twirl/queries/sparql/v1/addValueVersion.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createNewMapping.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/getMapping.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.json
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiWithValueObjects.json
  webapi/src/test/resources/test-data/standoffR2RV2/mappingCreationResponse.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v1/StandoffV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/JSONLDHandlingV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2R2Spec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResponseCheckerR2RV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/StandoffRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ValuesResponderV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2SpecFullData.scala
Labels: API v2, enhancement

#819 Allow text values to specify a language
  docs/src/jekyll/Gemfile.lock
  docs/src/paradox/00-release-notes/v1.5.0.md
  docs/src/paradox/01-introduction/example-project.md
  docs/src/paradox/02-knora-ontologies/knora-base.md
  docs/src/paradox/03-webapi/api-v1/adding-resources.md
  knora-ontologies/knora-base.ttl
  salsah1/src/typescript_interfaces/basicMessageComponents.ts
  webapi/_test_data/all_data/anything-data.ttl
  webapi/src/main/resources/knoraXmlImport.xsd
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/KnoraResponseV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2Simple.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjects.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ValuesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/jsonld/JsonLDUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/standoff/StandoffTagUtilV2.scala
  webapi/src/main/twirl/queries/sparql/v1/addValueVersion.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiWithValueObjects.json
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingWithTextLangComplex.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingWithTextLangSimple.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/LanguageFulltextSearch.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingWithBooleanOptional.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/bookWithIncomingPagesOnlyLink.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/bookWithIncomingPagesWithAllRequestedProps.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ValuesV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2R2Spec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ValuesResponderV1Spec.scala
Labels: enhancement

#852 return lists in v2
  docs/src/api-v2/ListResponse.ts
  docs/src/api-v2/samples/listResponses.ts
  docs/src/paradox/03-webapi/api-v2/getting-lists.md
  docs/src/paradox/03-webapi/api-v2/index.md
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/TriplestoreMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/listsmessages/ListsMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/ResponderManager.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/package.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ListsResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ListsRouteV2.scala
  webapi/src/test/resources/test-data/listsR2RV2/imagesList.jsonld
  webapi/src/test/resources/test-data/listsR2RV2/imagesListNode.jsonld
  webapi/src/test/resources/test-data/v1/expectedBookContextResponse.json
  webapi/src/test/scala/org/knora/webapi/SharedListsTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/ListsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ListsRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ListsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1SpecContextData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ListsResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ListsResponderV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/util/StringLiteralSequenceV2Spec.scala
Labels: API v2

#869 Try to fix docs build breakage on Travis
  docs/src/jekyll/Gemfile.lock
Labels: bug
