Repository dasch-swiss/dsp-api, pull requests merged in 2018-12, with the labels that each got.

#1085 Update technical user docs
  docs/src/paradox/00-release-notes/next.md
  docs/src/paradox/01-introduction/data-formats.md
  docs/src/paradox/01-introduction/index.md
  docs/src/paradox/01-introduction/standoff-rdf.md
  docs/src/paradox/01-introduction/what-is-knora.md
  docs/src/paradox/02-knora-ontologies/introduction.md
  docs/src/paradox/02-knora-ontologies/knora-base.md
  docs/src/paradox/03-apis/api-v1/adding-resources.md
  docs/src/paradox/03-apis/api-v2/editing-resources.md
  docs/src/paradox/03-apis/api-v2/knora-iris.md
  docs/src/paradox/faq.md
Labels: API v1, API v2, documentation, ready-for-review

#1094 Update API v2 test responses
  docs/src/api-v2/Basic.ts
  docs/src/api-v2/ListResponse.ts
  docs/src/api-v2/MappingFormats.ts
  docs/src/api-v2/ResourcesResponse.ts
  docs/src/api-v2/samples/listResponses.ts
  docs/src/api-v2/samples/mappingMessages.ts
  docs/src/api-v2/samples/resourcesResponses.ts
  docs/src/paradox/00-release-notes/next.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/standoffmessages/StandoffMessagesV2.scala
  webapi/src/test/resources/test-data/standoffR2RV2/mappingCreationResponse.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/StandoffRouteV2R2RSpec.scala
Labels: API v2, documentation, fixed-in-pull-request

#1109 test (webapi): add lumieres lausanne tests
  docker-compose.yml
  docs/src/paradox/00-release-notes/next.md
  webapi/_test_data/other.v2.LumieresLausanneV2E2ESpec/lumieres-lausanne-data-lists.ttl
  webapi/_test_data/other.v2.LumieresLausanneV2E2ESpec/lumieres-lausanne-onto.ttl
  webapi/_test_data/other.v2.LumieresLausanneV2E2ESpec/lumieres-lausanne_admin.ttl
  webapi/_test_data/other.v2.LumieresLausanneV2E2ESpec/lumieres-lausanne_permissions.ttl
  webapi/_test_data/project_shortcodes.md
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ResourcesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValueUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/MessageUtil.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/other/v2/LumieresLausanneV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/ResourcesResponderV1Spec.scala
Labels: API v2, fixed-in-pull-request

#1118 Bulk import: check for correct handling of entities
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API v1, bulk-import

#1128 Use Apache HTTP client
  docs/src/paradox/00-release-notes/next.md
  project/Dependencies.scala
  sipi/config/sipi.init-knora-no-auth.lua
  sipi/config/sipi.init-knora-test.lua
  webapi/scripts/graphdb-se-local-init-knora-prod.sh
  webapi/scripts/graphdb-se-local-init-knora-test.sh
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/sipimessages/SipiMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/SipiResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SipiResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/main/scala/org/knora/webapi/util/SipiUtil.scala
Labels: Sipi, fixed-in-pull-request, ready-for-review, triplestore
