Repository dasch-swiss/dsp-api, pull requests merged in 2018-11, with the labels that each got.

#1055 Fix standoff to XML conversion with nested empty tag
  .travis.yml
  docs/src/paradox/00-release-notes/v2.x.x.md
  webapi/WebapiBuild.sbt
  webapi/src/main/scala/org/knora/webapi/util/standoff/XMLToStandoffUtil.scala
  webapi/src/test/scala/org/knora/webapi/util/standoff/XMLToStandoffUtilSpec.scala
Labels: bug

#1057 Admin API: expand "get project members" request
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
Labels: API admin, enhancement

#1048 feature (webapi): add username field to UserADM
  docs/DocsBuild.sbt
  docs/src/paradox/00-release-notes/v2.x.x.md
  docs/src/paradox/00-release-notes/v3.x.x.md
  docs/src/paradox/05-internals/design/authentication.md
  knora-ontologies/knora-admin.ttl
  salsah1/SalsahBuild.sbt
  webapi/WebapiBuild.sbt
  webapi/_test_data/all_data/admin-data.ttl
  webapi/_test_data/e2e.v2.SearchRouteV2R2RSpec/gravsearchtest1-admin.ttl
  webapi/_test_data/other.v1.DrawingsGodsV1E2ESpec/rvp-admin-data.ttl
  webapi/_test_data/other.v1.DrawingsGodsV1Spec/drawings-gods_admin-data.ttl
  webapi/src/main/scala/org/knora/webapi/KnoraSystemInstances.scala
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/usersmessages/UsersMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/routing/authenticationmessages/AuthenticationMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/GroupsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/UsersResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ProjectsResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/Authenticator.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/AuthenticationRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/twirl/queries/sparql/admin/checkUserExists.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/checkUserExistsByEmail.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/checkUserExistsByUsername.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/createNewUser.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/getUsers.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/updateUser.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/standoffOntologyWithValueObjects.rdf
  webapi/src/test/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/UsersADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/AuthenticationV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/usersmessages/UsersMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/other/v1/DrawingsGodsV1Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/routing/AuthenticatorSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/MutableTestString.scala
Labels: ready-for-review

#1028 Design documentation for Gravsearch and Refactoring
  docs/src/paradox/05-internals/design/gravsearch.md
  docs/src/paradox/05-internals/design/index.md
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/util/search/gravsearch/GravsearchUtilV2.scala
Labels: API v2, documentation

#1074 Fix unescaping in update check and reading standoff URL
  docs/src/paradox/00-release-notes/v3.x.x.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ResourcesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/util/jsonld/JsonLDUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/standoff/StandoffTagUtilV2.scala
  webapi/src/test/resources/test-data/resourcesR2RV2/CreateResourceWithEscape.jsonld
  webapi/src/test/resources/test-data/valuesE2EV2/CreateValueWithEscape.jsonld
  webapi/src/test/resources/test-data/valuesE2EV2/UpdateValueWithEscape.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
Labels: API v2, fixed-in-pull-request
