Repository dasch-swiss/dsp-api, pull requests merged in 2019-03, with the labels that each got.

#1242 Unescape standoff string attributes when verifying text value update
  docs/src/paradox/00-release-notes/next.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
Labels: API v2, fixed-in-pull-request, standoff

#1276 fix(api-v1): Escape rdfs:label in bulk import
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API v1, bulk-import, fixed-in-pull-request

#1279 fix(sipi): Improve error checking of Sipi's knora.json response
  webapi/src/main/scala/org/knora/webapi/messages/store/sipimessages/SipiMessages.scala
Labels: API v2

#1278 a handfull of changes in documentation and error messages
  docs/src/paradox/03-apis/api-admin/users.md
  docs/src/paradox/04-deployment/getting-started.md
  docs/src/paradox/05-internals/development/build-process.md
  docs/src/paradox/05-internals/development/figures/app-config-setup.png
  docs/src/paradox/05-internals/development/figures/breakpoint.png
  docs/src/paradox/05-internals/development/figures/create-app.png
  docs/src/paradox/05-internals/development/figures/debug.png
  docs/src/paradox/05-internals/development/figures/edit-config.png
  docs/src/paradox/05-internals/development/figures/import-from-sbt.png
  docs/src/paradox/05-internals/development/figures/intellij-after-import.png
  docs/src/paradox/05-internals/development/figures/sbt-config.png
  docs/src/paradox/05-internals/development/figures/setting-tab-space.png
  docs/src/paradox/05-internals/development/intellij-config.md
  docs/src/paradox/05-internals/development/profiling.md
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/usersmessages/UsersMessagesADM.scala
Labels: documentation, ready-for-review
