Repository dasch-swiss/dsp-api, pull requests merged in 2019-04, with the labels that each got.

#1260 fix (tei beol): fix problems in XSLT
  webapi/_test_data/test_route/texts/beol/BEOLTEIMapping.xml
  webapi/_test_data/test_route/texts/beol/beolTEI.py
  webapi/_test_data/test_route/texts/beol/gravsearch.txt
  webapi/_test_data/test_route/texts/beol/header.xsl
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
Labels: API v2, bug

#1297 test: Compare Knora response with its class definition
  knora-ontologies/knora-admin.ttl
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/main/scala/org/knora/webapi/KnoraExceptionHandler.scala
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjectsTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/types/GravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/types/InferringGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/util/OntologyUtil.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/ExceptionHandlerR2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceChecker.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceCheckerSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryGeneratorSpec.scala
Labels: breaking (salsah2), testing

#1306 feat(api-v2): Allow a resource to be created as a specified user
  docs/src/paradox/03-apis/api-v2/editing-resources.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/util/UserUtilADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
Labels: API v2, enhancement, user requirement

#1311 fix(api-v2): Cache base class IRIs correctly when creating/updating class
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API v2, fixed-in-pull-request, ready-for-review
