Repository dasch-swiss/dsp-api, pull requests merged in 2019-11, with the labels that each got.

#1505 feat(clientapi): Support collection classes
  docs/src/paradox/05-internals/design/client-api/index.md
  webapi/_test_data/typescript-client-mock-src/json2typescript.ts
  webapi/_test_data/typescript-client-mock-src/models/admin/custom-converters/administrative-permissions-per-project-converter.ts
  webapi/_test_data/typescript-client-mock-src/models/admin/custom-converters/groups-per-project-converter.ts
  webapi/_test_data/typescript-client-mock-src/models/admin/permission.ts
  webapi/_test_data/typescript-client-mock-src/models/api-response-data.ts
  webapi/_test_data/typescript-client-mock-src/rxjs/ajax.ts
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraAdminToApiV2ComplexTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientCollectionTypeParser.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorFrontEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/TypeScriptBackEnd.scala
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptClass.scala.txt
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptEndpoint.scala.txt
  webapi/src/test/scala/org/knora/webapi/util/StringFormatterSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/clientapi/ClientCollectionTypeParserSpec.scala
Labels: clientapi

#1503 fix(api-v2): Don't assume a deleted value has a delete comment
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
Labels: API/V2

#1516 build: Fix publish to Dockerhub
  .github/workflows/main.yml
  .travis.yml
Labels: ops/CI

#1515 fix/597-duplicates
  salsah1/src/public/js/jquery.resadd.js
Labels: blocking, bug, f:reliability, f:vre, frontend (salsah), stage/code-review

#1435 build(ga): Add Github CI Actions
  .github/workflows/main.yml
  .travis.yml
  KnoraBuild.sbt
  Makefile
  README.md
  RELEASING.md
  docker/knora-upgrade.dockerfile
  docs/src/paradox/04-publishing-deployment/publishing.md
  docs/src/paradox/05-internals/development/building-and-running.md
  project/Dependencies.scala
  upgrade/graphdb-se/dump-repository.sh
  upgrade/graphdb-se/empty-repository.sh
  upgrade/graphdb-se/upload-repository.sh
  upgrade/src/main/scala/org.knora.upgrade/Main.scala
  vars.mk
  webapi/src/main/scala/org/knora/webapi/update/UpdatePlugin.scala
  webapi/src/main/scala/org/knora/webapi/update/UpdateRepository.scala
  webapi/src/main/scala/org/knora/webapi/update/plugins/NoopPlugin.scala
  webapi/src/main/scala/org/knora/webapi/update/plugins/UpdatePluginPR1307.scala
  webapi/src/main/scala/org/knora/webapi/update/plugins/UpdatePluginPR1322.scala
  webapi/src/main/scala/org/knora/webapi/update/plugins/UpdatePluginPR1367.scala
  webapi/src/main/scala/org/knora/webapi/update/plugins/UpdatePluginPR1372.scala
Labels: ops/CI

#1514 feat(clientapi): Return v2 test data
  webapi/_test_data/all_data/anything-data.ttl
  webapi/src/it/scala/org/knora/webapi/e2e/v2/KnoraSipiIntegrationV2ITSpec.scala
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/ClientApiRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/TypeScriptBackEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/jsonld/JsonLDUtil.scala
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptClass.scala.txt
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptEndpoint.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
Labels: API/V2, clientapi

#1519 feat(clientapi): Allow an 0-n property to be optional in generated code
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorFrontEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/TypeScriptBackEnd.scala
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptClass.scala.txt
Labels: clientapi

#1527 fix(upgrade): Don't strip newlines when uploading TriG file to GraphDB
  upgrade/graphdb-se/auto-upgrade.sh
  upgrade/graphdb-se/upload-repository.sh
Labels: triplestore

#1526 fix(build): Fix E2E tests
  .github/workflows/main.yml
  Makefile
  README.md
  webapi/scripts/graphdb-se-knora-test-unit-repository-config.ttl.tmpl
  webapi/src/it/scala/org/knora/webapi/ITKnoraLiveSpec.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorFrontEnd.scala
  webapi/src/test/resources/test-data/resourcesR2RV2/NarrenschiffFirstPage.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/NarrenschiffFirstPageExpanded.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/Testding.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/bookWithIncomingPagesWithAllRequestedProps.jsonld
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceChecker.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceCheckerSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/JSONLDHandlingV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/other/v1/DrawingsGodsV1E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/other/v2/LumieresLausanneV2E2ESpec.scala
Labels: build, testing

#1535 Fix sipi integration test (ongoing)
  sipi/scripts/convert_from_path.lua
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiScriptsV1ITSpec.scala
  webapi/src/main/scala/org/knora/webapi/util/FileUtil.scala
Labels: API/V1, bug
