Repository dasch-swiss/dsp-api, pull requests merged in 2019-07, with the labels that each got.

#1363 chore(build): Publish additional docker images
  .dockerignore
  .gitignore
  .travis.yml
  KnoraBuild.sbt
  docker-compose.yml
  docs/src/paradox/00-release-notes/v2.x.x.md
  docs/src/paradox/02-knora-ontologies/knora-base.md
  docs/src/paradox/04-deployment/getting-started.md
  docs/src/paradox/04-publishing-deployment/configuration.md
  docs/src/paradox/04-publishing-deployment/getting-started.md
  docs/src/paradox/04-publishing-deployment/index.md
  docs/src/paradox/04-publishing-deployment/publishing.md
  docs/src/paradox/04-publishing-deployment/updates.md
  docs/src/paradox/05-internals/development/updating-repositories.md
  docs/src/paradox/index.md
  project/Dependencies.scala
  project/plugins.sbt
Labels: chore

#1361 fix(upgrade): Upload whole repository as Trig file during update
  upgrade/update-repository.py
  upgrade/updatelib/rdftools.py
Labels: f:repository, ready-for-review

#1362 feat(triplestore): Update Lucene index on startup
  webapi/src/main/scala/org/knora/webapi/app/ApplicationStateActor.scala
  webapi/src/main/scala/org/knora/webapi/messages/app/appmessages/ApplicationStateMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/TriplestoreMessages.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
Labels: API v2, triplestore

#1369 feat(admin): Add admin route to dump project data
  docs/src/paradox/03-apis/api-admin/projects.md
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/projectsmessages/ProjectsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/TriplestoreMessages.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/main/twirl/queries/sparql/admin/getProjectAdminData.scala.txt
  webapi/src/main/twirl/queries/sparql/admin/getProjectPermissions.scala.txt
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/ProjectsADME2ESpec.scala
Labels: API admin, f:repository, ready-for-review

#1368 feature(webapi):Add Redis cache
  .travis.yml
  Dockerfile.ci
  KnoraBuild.sbt
  docker-compose.yml
  docs/src/paradox/03-apis/api-admin/groups.md
  docs/src/paradox/04-publishing-deployment/configuration.md
  docs/src/paradox/04-publishing-deployment/getting-started.md
  docs/src/paradox/05-internals/development/building-and-running.md
  docs/src/paradox/05-internals/development/overview.md
  project/Dependencies.scala
  project/plugins.sbt
  webapi/src/it/resources/logback-test.xml
  webapi/src/main/resources/application.conf
  webapi/src/main/resources/logback.xml
  webapi/src/main/scala/org/knora/webapi/Exceptions.scala
  webapi/src/main/scala/org/knora/webapi/KnoraService.scala
  webapi/src/main/scala/org/knora/webapi/Settings.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/groupsmessages/GroupsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/projectsmessages/ProjectsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/usersmessages/UsersMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/cacheservicemessages/CacheServiceMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/GroupsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/SipiResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/StoresResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/UsersResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/StandoffResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/AroundDirectives.scala
  webapi/src/main/scala/org/knora/webapi/routing/Authenticator.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/GroupsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/store/StoreManager.scala
  webapi/src/main/scala/org/knora/webapi/store/cacheservice/CacheSerialization.scala
  webapi/src/main/scala/org/knora/webapi/store/cacheservice/CacheServiceManager.scala
  webapi/src/main/scala/org/knora/webapi/store/package.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/InstrumentationSupport.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/scala/org/knora/webapi/CoreSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/GroupsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/projectsmessages/ProjectsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/GroupsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ProjectsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/store/cacheservice/CacheSerializationSpec.scala
  webapi/src/test/scala/org/knora/webapi/store/cacheservice/CacheServiceManagerSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/StringFormatterSpec.scala
Labels: breaking, enhancement
