Repository dasch-swiss/dsp-api, pull requests merged in 2019-02, with the labels that each got.

#1178 Gravsearch query with an optional sort criterion
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/QueryTraverser.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryGenerator.scala
  webapi/src/test/resources/test-data/searchR2RV2/ThingsWithOptionalDecimalGreaterThan1.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/thingWithOptionalDateSortedDesc.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryGeneratorSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryGeneratorSpec.scala
Labels: API v2, Gravsearch, bug

#1203 Use HTTP POST to mark resources and values as deleted
  docs/src/paradox/00-release-notes/next.md
  docs/src/paradox/03-apis/api-v2/editing-resources.md
  docs/src/paradox/03-apis/api-v2/editing-values.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/twirl/queries/sparql/v2/checkResourceDeletion.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/deleteResource.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
Labels: API v2, breaking, ready-for-review

#1198 test case and proposed fix for numprops>1 query
  webapi/src/main/scala/org/knora/webapi/responders/v1/ResourcesResponderV1.scala
  webapi/src/main/twirl/queries/sparql/v1/getResourceSearchResultGraphDB.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API v1

#1224 Ignore order of attributes when comparing standoff
  docs/src/paradox/00-release-notes/next.md
  webapi/src/main/scala/org/knora/webapi/util/standoff/StandoffTagUtilV2.scala
  webapi/src/test/scala/org/knora/webapi/util/standoff/StandoffTagUtilV2Spec.scala
Labels: fixed-in-pull-request

#1225 fix (bulk import): knora-base:Region as object class constraint
  webapi/_test_data/ontologies/anything-onto.ttl
  webapi/src/main/resources/knoraXmlImport.xsd
Labels: enhancement

#1229 Don't allow conflicting cardinalities
  docs/src/paradox/00-release-notes/next.md
  webapi/_test_data/responders.v2.OntologyResponderV2Spec/conflicting-cardinalities-onto.ttl
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: ready-for-review
