Repository dasch-swiss/dsp-api, pull requests merged in 2019-12, with the labels that each got.

#1486 feature (salsah1): Add displaying of ARK URLs
  salsah1/src/public/js/00_init_javascript.js
  salsah1/src/public/js/01_salsah_api.js
  salsah1/src/public/js/imagebase.js
Labels: frontend (salsah)

#1521 fix(gravsearch): Unify permissions handling with full resource request
  docs/src/paradox/03-apis/api-v2/query-language.md
  salsah1/src/typescript_interfaces/sampleRequests/sampleResourceResponses.ts
  webapi/_test_data/all_data/anything-data.ttl
  webapi/_test_data/all_data/permissions-data.ttl
  webapi/_test_data/ontologies/anything-onto.ttl
  webapi/_test_data/ontologies/incunabula-onto.ttl
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/MainQueryResultProcessor.scala
  webapi/src/main/twirl/queries/sparql/v2/isOntologyUsed.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/anythingOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/searchR2RV2/ThingWithHiddenThing.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v1/OntologyResponderV1Spec.scala
Labels: API/V2, Gravsearch, breaking/api

#1546 fix(clientapi): Fix property names.
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
Labels: clientapi

#1550 typo in label
  salsah1/src/public/js/imagebase.js
Labels: enhancement, frontend (salsah), stage/code-review

#1549 feature(api-v2): Generate client test data for ontologies, resources, search, and lists
  webapi/scripts/graphdb-knora-test-data.expect
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/AroundDirectives.scala
  webapi/src/main/scala/org/knora/webapi/routing/Authenticator.scala
  webapi/src/main/scala/org/knora/webapi/routing/ClientApiRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/HealthRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/KnoraRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/RejectingRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/SwaggerApiDocsRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/VersionRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/GroupsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ListsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/PermissionsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/SipiRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/StoreRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/AssetsRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/AuthenticationRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/CkanRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ListsRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ProjectsRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourceTypesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/SearchRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/StandoffRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/UsersRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ValuesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/AuthenticationRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ListsRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/StandoffRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ListsRouteV2R2Spec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
Labels: API/V2, clientapi

#1509 feat(clientapi): Support lists admin endpoint
  docs/src/paradox/05-internals/design/client-api/index.md
  webapi/src/it/scala/org/knora/webapi/e2e/v1/ErrorV1ITSpec.scala
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraAdminToApiV2ComplexTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/GroupsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ListsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/PermissionsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorFrontEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/TypeScriptBackEnd.scala
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptClass.scala.txt
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/ListsADME2ESpec.scala
Labels: API/Admin, clientapi

#1560 fix(clientapi): Fix HTTP method in createChildNode function
  webapi/src/main/scala/org/knora/webapi/routing/admin/ListsRouteADM.scala
Labels: API/Admin, clientapi

#1564 enable click on save button in case of recoverable error
  salsah1/src/public/js/jquery.resadd.js
Labels: bug, frontend (salsah), stage/code-review
