Repository dasch-swiss/dsp-api, pull requests merged in 2019-01, with the labels that each got.

#1142 Fix error-checking when updating cardinalities in ontology API
  docs/src/paradox/00-release-notes/next.md
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API v2, fixed-in-pull-request, ontology

#1145 Reject link value properties in Gravsearch queries in the simple schema
  docs/src/paradox/00-release-notes/next.md
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
Labels: fixed-in-pull-request

#1131 Update resource metadata in API v2
  docs/src/paradox/00-release-notes/next.md
  docs/src/paradox/03-apis/api-v2/editing-resources.md
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjectsTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourceUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/main/twirl/queries/sparql/v2/changeResourceMetadata.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
Labels: API v2, enhancement, user requirement

#1144 Fix property names for incoming links
  docs/src/paradox/00-release-notes/next.md
  docs/src/paradox/03-apis/api-v2/query-language.md
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraApiV2WithValueObjectsTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/GravsearchQueryChecker.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/standoffOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/searchR2RV2/ProjectsWithOptionalPersonOrBiblio.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/bookWithIncomingPagesOnlyLink.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/bookWithIncomingPagesWithAllRequestedProps.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/booksWithPage100.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/incomingPagesForBook.jsonld
Labels: API v2, breaking (salsah2), fixed-in-pull-request

#1151 Allow setting resource creation date in bulk import
  docs/src/paradox/00-release-notes/next.md
  docs/src/paradox/03-apis/api-v1/adding-resources.md
  docs/src/paradox/03-apis/api-v2/editing-resources.md
  project/Dependencies.scala
  webapi/src/main/resources/knoraXmlImport.xsd
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/resourcemessages/ResourceMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ResourcesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValuesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v1/ResourcesRouteV1.scala
  webapi/src/main/scala/org/knora/webapi/twirl/SparqlTemplateResourceToCreate.scala
  webapi/src/main/twirl/queries/sparql/v1/createLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/createNewResources.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/createValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/generateInsertStatementsForCreateLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v1/generateInsertStatementsForStandoffLinks.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createNewResources.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/generateInsertStatementsForCreateLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/generateInsertStatementsForStandoffLinks.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
Labels: ready-for-review

#1171 Allow hasRepresentation in an ontology used in a bulk import
  docs/src/paradox/00-release-notes/next.md
  webapi/_test_data/ontologies/anything-onto.ttl
  webapi/src/main/resources/knoraXmlImport.xsd
Labels: API v1, bulk-import, fixed-in-pull-request

#1182 Fix processing of shared property in bulk import
  docs/src/paradox/00-release-notes/next.md
  webapi/_test_data/ontologies/example-ibox.ttl
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API v1, bulk-import, fixed-in-pull-request

#1185 Change IRI for forbidden resource and beol-data
  webapi/_test_data/all_data/beol-data.ttl
  webapi/_test_data/all_data/system-data.ttl
  webapi/_test_data/test_route/texts/letter.xml
  webapi/_test_data/test_route/texts/letter2.xml
  webapi/_test_data/test_route/texts/letter3.xml
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/test/resources/test-data/searchR2RV2/searchResponseWithforbiddenResource.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
Labels: bug

#1186 updating the list of shortcodes for projects hosted in Lausanne
  webapi/_test_data/project_shortcodes.md
Labels: documentation
