Repository dasch-swiss/dsp-api, pull requests merged in 2020-01, with the labels that each got.

#1571 fixed date string format
  salsah1/src/public/js/imagebase.js
Labels: bug, frontend (salsah), stage/code-review

#1537 build: Add env var to set triplestore actor pool
  docker-compose.yml
  docker/knora.docker-compose.yml
  docs/src/paradox/04-publishing-deployment/configuration.md
  webapi/src/main/resources/application.conf
Labels: complexity/low, enhancement, f:reliability, stage/in-progress

#1576 Add missing env var
  Makefile
  vars.mk
Labels: bug

#1442 fix(api-v2): Fix incorrect serialisation of lastModificationDate
  docs/src/paradox/03-apis/api-v2/ontology-information.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/test/resources/test-data/ontologyR2RV2/allOntologyMetadata.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/allOntologyMetadata.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/allOntologyMetadata.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/anythingOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/anythingOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/anythingOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/boxOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/imagesOntologyMetadata.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/imagesOntologyMetadata.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/imagesOntologyMetadata.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/incunabulaPageAndBookWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDateValue.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/minimalOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/minimalOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/minimalOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/standoffOntologyWithValueObjects.rdf
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/v2/responder/ontologymessages/InputOntologyV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
Labels: API/V2, breaking/api, stage/code-review

#1584 fix(api-v2): Fix ontology deletion
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2
