Repository dasch-swiss/dsp-api, pull requests merged in 2020-09, with the labels that each got.

#1694 docs: fix publishing
  docs/04-publishing-deployment/publishing.md
Labels: documentation

#1700 hierarchically ordered Sequence of base classes
  webapi/src/main/scala/org/knora/webapi/messages/util/OntologyUtil.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/InferringGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceChecker.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, enhancement

#1698 feat(api-v2): Accept custom new value IRI when updating value
  docs/03-apis/api-v2/editing-resources.md
  docs/03-apis/api-v2/editing-values.md
  webapi/src/main/scala/org/knora/webapi/messages/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
Labels: API/V2, enhancement

#1701 reverse change of Permission JSONs
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/PermissionsADME2ESpec.scala
Labels: API/Admin, bug

#1702 Add PR labels (DSP-607)
  README.md
Labels: chore

#1703 Add comments to ontology metadata
  docs/03-apis/api-v2/ontology-information.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/createOntology.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, enhancement, ontology

#1704 feat(api-v2): Add test data
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
Labels: API/V2, enhancement

#1707 chore: Update ci workflow
  .github/workflows/main.yml
Labels: chore

#1709 fix(OntologyResponderV2): Fix ontology cache update when ontology metadata changed
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, bug

#1710 update ontology metadata with a comment
  docs/03-apis/api-v2/ontology-information.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/changeOntologyMetadata.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, enhancement, ontology

#1713 feat(gravsearch): Allow comparing variables representing resource IRIs
  docs/03-apis/api-v2/query-language.md
  docs/05-internals/design/api-v2/gravsearch.md
  test_data/all_data/beol-data.ttl
  test_data/searchR2RV2/LetterNotToSelf.jsonld
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/InferringGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/IntermediateTypeInspectionResult.scala
  webapi/src/test/resources/logback-test.xml
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/types/GravsearchTypeInspectorSpec.scala
Labels: API/V2, enhancement

#1711 update developer and create resource docs
  docs/03-apis/api-v2/editing-resources.md
  docs/05-internals/development/bazel.md
  docs/05-internals/development/build-process.md
  docs/05-internals/development/building-and-running.md
  docs/05-internals/development/index.md
  mkdocs.yml
Labels: documentation

#1715 chore(api-v2): Switch from JSONLD-Java to Titanium
  docs/05-internals/design/api-v2/json-ld.md
  third_party/dependencies.bzl
  webapi/BUILD.bazel
  webapi/src/main/scala/org/knora/webapi/messages/BUILD.bazel
  webapi/src/main/scala/org/knora/webapi/messages/util/JsonLDUtil.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/standoffmessages/StandoffMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/util/JavaUtil.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/JSONLDHandlingV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/util/AkkaHttpUtils.scala
Labels: API/V2, chore

#1717 enhancement(gravsearch): Optimise queries by moving up statements with resource IRIs
  webapi/src/main/scala/org/knora/webapi/messages/util/search/SparqlTransformer.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/test/resources/test.conf
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/SparqlTransformerSpec.scala
Labels: API/V2, enhancement, user requirement

#1718 DSP-702 Add template for PRs
  .github/pull_request_template.md
  webapi/src/test/resources/test.conf
Labels: chore

#1652 DSP-377 Support Islamic calendar
  docs/02-knora-ontologies/knora-base.md
  docs/03-apis/api-v1/adding-resources.md
  docs/03-apis/api-v2/ontology-information.md
  docs/03-apis/api-v2/query-language.md
  docs/05-internals/development/figures/DockerLog.png
  docs/05-internals/development/figures/dockerDashboard.png
  docs/05-internals/development/figures/dockerDesktop.png
  docs/src/api-v1/basicMessageComponents.ts
  docs/src/api-v2/Basic.ts
  test_data/ontologyR2RV2/knoraApiDate.jsonld
  test_data/ontologyR2RV2/knoraApiDate.rdf
  test_data/ontologyR2RV2/knoraApiDate.ttl
  test_data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  test_data/ontologyR2RV2/knoraApiOntologySimple.rdf
  test_data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/main/resources/knoraXmlImport.xsd
  webapi/src/main/scala/org/knora/webapi/messages/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/CalendarDateUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/CalendarDateUtilV2Spec.scala
Labels: API/V1, API/V2, enhancement, user requirement

#1716 bulid: fix sipi image version (DSP-677)
  WORKSPACE
  docs/05-internals/development/third-party.md
  third_party/versions.bzl
  webapi/src/it/scala/org/knora/webapi/ITKnoraLiveSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiScriptsV1ITSpec.scala
  webapi/src/it/scala/org/knora/webapi/e2e/v2/KnoraSipiIntegrationV2ITSpec.scala
Labels: chore

#1720 DSP-620 Update release process
  .github/release-drafter.yml
  .github/workflows/main.yml
  .grenrc
  README.md
Labels: chore

#1719 change possibly conflictual env var USERNAME (DSP-706)
  webapi/scripts/fuseki-dump-repository.sh
  webapi/scripts/fuseki-empty-repository.sh
  webapi/scripts/fuseki-functions.sh
  webapi/scripts/fuseki-upload-repository.sh
  webapi/scripts/graphdb-dump-repository.sh
  webapi/scripts/graphdb-empty-repository.sh
  webapi/scripts/graphdb-upload-repository.sh
  webapi/scripts/wait-for-db.sh
Labels: chore

#1664 feat(api-v2): Add support for text file upload (DSP-44)
  docs/03-apis/api-v2/editing-values.md
  test_data/test_route/files/spam.csv
  test_data/test_route/files/test1.xml
  test_data/test_route/files/test2.xml
  webapi/src/it/scala/org/knora/webapi/e2e/v2/KnoraSipiIntegrationV2ITSpec.scala
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/messages/store/sipimessages/SipiMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/settings/KnoraSettings.scala
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
  webapi/src/test/resources/test.conf
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/store/iiif/MockSipiConnector.scala
Labels: API/V2, Sipi, enhancement

#1721 chore: bump sipi to rc.7 (DSP-733)
  third_party/versions.bzl
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
Labels: chore
