Repository dasch-swiss/dsp-api, pull requests merged in 2020-02, with the labels that each got.

#1583 feat(clientapi): Change signature of function to update user's system admin membership
  webapi/src/main/scala/org/knora/webapi/routing/admin/GroupsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
Labels: API/Admin, clientapi

#1590 feat(sipi): Improve error message if XSL file not found
  webapi/_test_data/all_data/anything-data.ttl
  webapi/src/it/scala/org/knora/webapi/e2e/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/main/scala/org/knora/webapi/messages/RequestWithSender.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/sipimessages/SipiMessages.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/StandoffResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/store/StoreManager.scala
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
Labels: API/V2

#1582 fix(api-v2): Change link value comment
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/twirl/queries/sparql/v2/changeLinkMetadata.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/changeLinkTarget.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
Labels: fixed-in-pull-request

#1587 fix (webapi): Add enforcing of restrictions for username and email
  docs/src/paradox/03-apis/api-admin/users.md
  webapi/src/main/scala/org/knora/webapi/responders/admin/UsersResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/UsersResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/StringFormatterSpec.scala
Labels: bug

#1601 fix(api-v2): Fix custom datatypes in knora-api simple ontology
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2ComplexTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiDate.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
Labels: API/V2, ontology

#1568 fixed the URI for the query
  README.md
Labels: documentation

#1609 fix complex schema url
  docs/src/paradox/03-apis/api-v2/query-language.md
  docs/src/paradox/03-apis/api-v2/reading-and-searching-resources.md
Labels: API/V2, Gravsearch, documentation, stage/code-review

#1577 build: add js lib tests to ci
  .github/workflows/main.yml
  .gitignore
  Makefile
  ci/.gitignore
  ci/README.md
  ci/secrets.tar.gpg
  docker/knora-graphdb.template.dockerfile
  docker/knora.docker-compose.yml
  sipi/Makefile
  sipi/README.md
  sipi/docker-compose.yml
  vars.mk
  webapi/scripts/Makefile
  webapi/scripts/graphdb-knora-test-unit-data-minimal.expect
  webapi/scripts/graphdb-se-docker-init-knora-test-unit-minimal.sh
  webapi/src/main/scala/org/knora/webapi/app/ApplicationActor.scala
  webapi/src/main/scala/org/knora/webapi/routing/HealthRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/RejectingRoute.scala
Labels: testing

#1602 feat(api-v2): Return value UUID on value creation and update
  docs/src/paradox/03-apis/api-v2/editing-values.md
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/twirl/queries/sparql/v2/changeLinkTarget.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/createValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/deleteValue.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/generateInsertStatementsForCreateLink.scala.txt
  webapi/src/main/twirl/queries/sparql/v2/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
Labels: API/V2

#1610 feat(api-v2): Remove client code generation
  docs/src/paradox/05-internals/design/client-api/index.md
  docs/src/paradox/05-internals/design/index.md
  docs/src/paradox/05-internals/development/generating-client-test-data.md
  docs/src/paradox/05-internals/development/index.md
  webapi/_test_data/all_data/admin-data.ttl
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraAdminToApiV2ComplexTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/ClientApiRoute.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/AdminClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/GroupsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ListsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/PermissionsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/StoreRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/UsersRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ListsRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/V2ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientApi.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/ClientCollectionTypeParser.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorBackEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/GeneratorFrontEnd.scala
  webapi/src/main/scala/org/knora/webapi/util/clientapi/TypeScriptBackEnd.scala
  webapi/src/main/twirl/clientapi/typescript/generateKnoraApiConnection.scala.txt
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptClass.scala.txt
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptEndpoint.scala.txt
  webapi/src/main/twirl/clientapi/typescript/generateTypeScriptMainEndpoint.scala.txt
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/scala/org/knora/webapi/e2e/ClientApiRouteE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceChecker.scala
  webapi/src/test/scala/org/knora/webapi/e2e/InstanceCheckerSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/ProjectsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ProjectsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/StringFormatterSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/clientapi/ClientCollectionTypeParserSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/clientapi/SourceCodeFilePathSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/jsonld/JsonLDUtilSpec.scala
Labels: API/V2, clientapi
