Repository dasch-swiss/dsp-api, pull requests merged in 2020-04, with the labels that each got.

#1615 feat(api-v2): Remove ForbiddenResource
  docs/src/paradox/03-apis/api-v2/query-language.md
  docs/src/paradox/05-internals/design/api-v2/gravsearch.md
  knora-ontologies/knora-base.ttl
  upgrade/src/main/scala/org.knora.upgrade/Main.scala
  webapi/_test_data/all_data/anything-data.ttl
  webapi/_test_data/all_data/system-data.ttl
  webapi/src/main/scala/org/knora/webapi/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/Settings.scala
  webapi/src/main/scala/org/knora/webapi/SharedTestDataADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2ComplexTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/KnoraBaseToApiV2SimpleTransformationRules.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/package.scala
  webapi/src/main/scala/org/knora/webapi/responders/Responder.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResponderWithStandoffV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/StandoffResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologySimple.ttl
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.jsonld
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.rdf
  webapi/src/test/resources/test-data/ontologyR2RV2/knoraApiOntologyWithValueObjects.ttl
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingWithOneDeletedResource.jsonld
  webapi/src/test/resources/test-data/resourcesR2RV2/ThingWithOneHiddenResource.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/NarrFulltextSearch.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/PagesOfNarrenschiffOrderedBySeqnum.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/PagesOfNarrenschiffOrderedBySeqnumNextOffset.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingWithBooleanOptionalOffset0.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingWithHiddenThing.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingsWithOptionalDecimalGreaterThan1.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/searchResponseWithHiddenResource.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/thingWithOptionalDateSortedDesc.jsonld
  webapi/src/test/scala/org/knora/webapi/CoreSpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponseCheckerV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponseCheckerV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2SpecFullData.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ValuesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/util/ConstructResponseUtilV2Spec.scala
Labels: API/V2, breaking/api

#1626 fix(gravsearch): Prevent duplicate results
  docs/src/paradox/05-internals/design/api-v2/gravsearch.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ValuesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/StandoffResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/MainQueryResultProcessor.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/QueryTraverser.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/SparqlTransformer.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/mainquery/GravsearchMainQueryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryTransformer.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformer.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/types/GravsearchTypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/search/gravsearch/types/GravsearchTypeInspectionUtil.scala
  webapi/src/main/scala/org/knora/webapi/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/util/StringFormatter.scala
  webapi/src/test/resources/test-data/searchR2RV2/IncomingLinksForBook.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/LinkObjectsToBooks.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/RegionsForPage.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/ThingFromQueryWithUnion.jsonld
  webapi/src/test/resources/test-data/searchR2RV2/regionsOfZeitgloecklein.jsonld
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryTransformerSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformerSpec.scala
  webapi/src/test/scala/org/knora/webapi/util/ConstructResponseUtilV2Spec.scala
Labels: API/V2, Gravsearch, bug

#1598 doc: fix sipi docs link
  docs/src/jekyll/index.md
Labels: documentation

#1641 Use node version 12 for knora api js lib tests
  .github/workflows/main.yml
Labels: testing
