Repository dasch-swiss/dsp-api, pull requests merged in 2021-03, with the labels that each got.

#1813 feat(gravsearch): Optimise Gravsearch queries using topological sort (DSP-1327)
  docs/03-apis/api-v2/query-language.md
  docs/05-internals/design/api-v2/figures/query_graph.png
  docs/05-internals/design/api-v2/gravsearch.md
  third_party/dependencies.bzl
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/messages/BUILD.bazel
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/GravsearchQueryOptimisationFactory.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryTransformer.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformer.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/TopologicalSortUtil.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/GravsearchTypeInspectionResult.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/InferringGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/BUILD.bazel
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToCountPrequeryTransformerSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformerSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/TopologicalSortUtilSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/types/GravsearchTypeInspectorSpec.scala
Labels: Gravsearch, enhancement

#1829 fix(api-v2): Fix replacement of cardinalities (DSP-1402)
  webapi/src/main/scala/org/knora/webapi/messages/util/MessageUtil.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/replaceClassCardinalities.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, bug

#1827 fix(OntologiesRouteV2): Reject internal ontology names in external schema (DSP-1394)
  webapi/src/main/scala/org/knora/webapi/messages/OntologyConstants.scala
  webapi/src/main/scala/org/knora/webapi/messages/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
Labels: API/V2, bug

#1826 fix(OntologyResponderV2): Fix check when updating ontology label and comment (DSP-1390)
  docs/03-apis/api-v2/ontology-information.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/OntologiesRouteV2.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/changeOntologyMetadata.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, bug

#1833 fix(ontology): Escape Special Characters in Ontology Comment (DSP-1406)
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/ontologymessages/OntologyMessagesV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/OntologyV2R2RSpec.scala
Labels: API/V2, bug, ontology

#1835 fix(gravsearch): Keep rdf:type knora-api:Resource when needed (DSP-1407)
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/GravsearchQueryOptimisationFactory.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/AnnotationReadingGravsearchTypeInspector.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/GravsearchTypeInspectionUtil.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformerSpec.scala
Labels: API/V2, Gravsearch, bug

#1839 fix(values v1 route): fix geoname case (DSP-1487)
  webapi/src/main/scala/org/knora/webapi/routing/v1/ValuesRouteV1.scala
Labels: bug
