Repository dasch-swiss/dsp-api, pull requests merged in 2021-06, with the labels that each got.

#1865 docs(ontology): update term
  docs/03-apis/api-v2/ontology-information.md
Labels: documentation

#1871 fix(ontology): a system admin should be able to update an ontology (DSP-1621)
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
Labels: bug, ontology

#1872 feat(gravsearch): use layer info for topological order permutations (DSP-1389)
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/TopologicalSortUtil.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformerSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/TopologicalSortUtilSpec.scala
Labels: API/V2, Gravsearch, enhancement

#1873 docs: prepare documentation for docs.dasch.swiss (DSP-1721)
  docs/assets/icons/dasch-icon-white.svg
  docs/assets/style/theme.css
  mkdocs.yml
Labels: documentation

#1878 chore(gh-ci): update docs deployment (DSP-1741)
  .github/workflows/main.yml
Labels: bug, chore

#1877 feat(events): update resource last modification date event
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/resourceAndValueEventsUtil.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
Labels: API/V2, enhancement

#1882 feat(resourceHistoryEvents): route for resource history events (DSP-1749)
  docs/03-apis/api-v2/reading-and-searching-resources.md
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/ResourceMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/resourcemessages/resourceAndValueEventsUtil.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ResourcesResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/ResourcesRouteV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/v2/responder/resourcesmessages/ResourcesMessagesV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
Labels: API/V2, enhancement

#1884 feat(customIRIs): custom IRIs must contain a UUID (DSP-1763)
  docs/03-apis/api-admin/groups.md
  docs/03-apis/api-admin/lists.md
  docs/03-apis/api-admin/lists_new-list-admin-routes_v1.md
  docs/03-apis/api-admin/permissions.md
  docs/03-apis/api-admin/projects.md
  docs/03-apis/api-admin/users.md
  docs/03-apis/api-v2/editing-resources.md
  docs/03-apis/api-v2/editing-values.md
  docs/03-apis/api-v2/knora-iris.md
  docs/05-internals/development/migrationNotes.md
  webapi/src/main/scala/org/knora/webapi/messages/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/responders/Responder.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/GroupsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/PermissionsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/ProjectsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/UsersADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/lists/NewListsRoutesADMFeatureE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/lists/OldListsRouteADMFeatureE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ValuesRouteV2E2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/PermissionsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ProjectsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/sharedtestdata/SharedTestDataADM.scala
Labels: breaking, enhancement, refactor

#1886 feat(projects)!: Change shortname to xsd:NCName forma, Escape special character in payloads of projects endpoints (DSP-1555 )
  docs/03-apis/api-admin/projects.md
  webapi/src/main/scala/org/knora/webapi/messages/StringFormatter.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/projectsmessages/ProjectsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/ProjectsRouteADM.scala
  webapi/src/test/scala/org/knora/webapi/messages/StringFormatterSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/projectsmessages/ProjectsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ProjectsResponderADMSpec.scala
Labels: API/Admin, enhancement
