Repository dasch-swiss/dsp-api, pull requests merged in 2021-02, with the labels that each got.

#1797 feat(api-v1): Add support for PDF files (DSP-1267)
  test_data/all_data/permissions-data.ttl
  webapi/src/main/scala/org/knora/webapi/messages/util/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/responders/v1/ResourcesResponderV1.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/addValueVersion.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/test/scala/org/knora/webapi/it/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/PermissionsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/ResourcesResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/sharedtestdata/SharedPermissionsTestData.scala
Labels: API/V1, enhancement, user requirement

#1811 fix(Lists): Repositioning the node when new position equals length of new parent's children (DSP-1322)
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ListsResponderADMSpec.scala
Labels: API/Admin, bug

#1812 feat(api-v2): Allow resubmitting existing class/property lablels/comments (DSP-1323, DSP-1324)
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, enhancement

#1814 fix(api-v1): Optimise some SPARQL patterns for Fuseki (DSP-1325)
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/findResourceWithValue.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/findValueInVersions.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getContextStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getIncomingReferencesStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getRegionsStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getResourcePropertiesAndValuesStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getResourceSearchResultStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getResourcesByProjectAndType.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getValueStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/getVersionHistoryStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/isPartOfStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/searchExtendedGraphDB.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/searchExtendedStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/searchFulltextStandard.scala.txt
Labels: API/V1, bug

#1808 feat(sipi): add storing of original and sidecar (DSP-1318)
  knora-ontologies/knora-base.ttl
  sipi/scripts/file_info.lua
  sipi/scripts/store.lua
  sipi/scripts/upload.lua
  test_data/test_route/files/minimal.zip
  test_data/test_route/files/test.zip
  third_party/versions.bzl
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/messages/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/package.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/upgrade/RepositoryUpdatePlan.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/addValueVersion.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/generateInsertStatementsForValueContent.scala.txt
  webapi/src/test/scala/org/knora/webapi/it/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/test/scala/org/knora/webapi/it/v2/KnoraSipiIntegrationV2ITSpec.scala
Labels: enhancement

#1816 fix(Lists): fix bug in deleting the single child of a node (DSP-1355)
  test_data/all_data/anything-data.ttl
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/lists/DeleteListItemsRouteADME2ESpec.scala
Labels: API/Admin, bug

#1820 fix(Lists): Shift the second of two children after deletion of the first (DSP-1353)
  test_data/all_data/anything-data.ttl
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/lists/DeleteListItemsRouteADME2ESpec.scala
Labels: API/Admin, bug

#1822 feat(projects): add default set of permissions when creating new project (DSP-1347)
  docs/03-apis/api-admin/permissions.md
  docs/03-apis/api-admin/projects.md
  test_data/all_data/permissions-data.ttl
  webapi/src/main/scala/org/knora/webapi/responders/admin/PermissionsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ProjectsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/PermissionsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/PermissionsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ProjectsResponderADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/sharedtestdata/SharedOntologyTestDataADM.scala
  webapi/src/test/scala/org/knora/webapi/sharedtestdata/SharedPermissionsTestData.scala
Labels: API/Admin, enhancement

#1818 feat: Add support for audio files (DSP-1343)
  knora-ontologies/knora-base.ttl
  sipi/scripts/file_info.lua
  test_data/test_route/files/minimal.wav
  test_data/test_route/files/test.wav
  webapi/src/main/resources/application.conf
  webapi/src/main/scala/org/knora/webapi/messages/store/sipimessages/SipiMessages.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/ConstructResponseUtilV2.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/ValueUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v1/responder/valuemessages/ValueMessagesV1.scala
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/valuemessages/ValueMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/package.scala
  webapi/src/main/scala/org/knora/webapi/routing/RouteUtilV1.scala
  webapi/src/main/scala/org/knora/webapi/settings/KnoraSettings.scala
  webapi/src/main/scala/org/knora/webapi/store/iiif/SipiConnector.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/upgrade/RepositoryUpdatePlan.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/addValueVersion.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/generateInsertStatementsForCreateValue.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/generateInsertStatementsForValueContent.scala.txt
  webapi/src/test/scala/org/knora/webapi/it/v1/KnoraSipiIntegrationV1ITSpec.scala
  webapi/src/test/scala/org/knora/webapi/it/v2/KnoraSipiIntegrationV2ITSpec.scala
  webapi/src/test/scala/org/knora/webapi/store/iiif/MockSipiConnector.scala
Labels: API/V1, API/V2, Sipi, enhancement

#1825 chore(gh-ci): update release please configuration (DSP-1382)
  .github/workflows/main.yml
Labels: chore
