Repository dasch-swiss/dsp-api, pull requests merged in 2021-01, with the labels that each got.

#1777 feat(gh-ci): Release please and update gh actions (DSP-1168)
  .github/pull_request_template.md
  .github/release-drafter.yml
  .github/workflows/main.yml
  CHANGELOG.md
  README.md
  version.txt
Labels: chore, enhancement

#1779 feat!: New features and refactoring
  .github/pull_request_template.md
  README.md
Labels: breaking, documentation, enhancement

#1776 feat(api-v2): Optionally return file values in full-text search results (DSP-1191)
  docs/03-apis/api-v2/reading-and-searching-resources.md
  test_data/searchR2RV2/FulltextSearchWithImage.jsonld
  webapi/src/main/scala/org/knora/webapi/messages/v2/responder/searchmessages/SearchMessagesV2.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/main/scala/org/knora/webapi/routing/v2/SearchRouteV2.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/searchFulltextStandard.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/searchFulltext.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/searchFulltextGraphDB.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v2/searchFulltextStandard.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2Spec.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/SearchResponderV2SpecFullData.scala
Labels: API/V2, enhancement

#1782 chore(gh-ci): fix issue in the release process
  .github/pull_request_template.md
  .github/workflows/main.yml
  CHANGELOG.md
Labels: chore

#1785 chore(ghi-ci): google chat release notification (DSP-1155)
  .github/workflows/main.yml
Labels: chore

#1788 fix(api-v2): Don't allow an invalid cardinality on a boolean property (DSP-1236)
  webapi/src/main/scala/org/knora/webapi/responders/v2/OntologyResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/OntologyResponderV2Spec.scala
Labels: API/V2, bug

#1789 fix(HttpTriplestoreConnector): Always decode triplestore responses as UTF-8 (DSP-1238)
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/test/scala/org/knora/webapi/responders/v2/MetadataResponderV2Spec.scala
Labels: bug

#1793 fix(standoffLinks): One hasStandoffLinkToValue per standoffLink given in the text (DSP-1254)
  webapi/src/main/scala/org/knora/webapi/responders/v2/ValuesResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/ResourcesRouteV2E2ESpec.scala
Labels: API/V2, bug, standoff

#1791 fix(api-v1): Optimise link value queries for Fuseki (DSP-1243)
  webapi/src/main/scala/org/knora/webapi/messages/util/standoff/StandoffTagUtilV2.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/findLinkValueByIri.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/v1/findLinkValueByObject.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/v1/BUILD.bazel
  webapi/src/test/scala/org/knora/webapi/e2e/v1/ResourcesV1R2RSpec.scala
Labels: API/V1

#1790 fix!(gravsearch): Handle UNION scopes with FILTER correctly (DSP-1240)
  docs/03-apis/api-v2/query-language.md
  docs/05-internals/design/api-v2/gravsearch.md
  webapi/src/main/scala/org/knora/webapi/messages/util/search/QueryTraverser.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/SparqlQuery.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/SparqlTransformer.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/AbstractPrequeryGenerator.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformer.scala
  webapi/src/main/scala/org/knora/webapi/messages/util/search/gravsearch/types/GravsearchTypeInspectionUtil.scala
  webapi/src/main/scala/org/knora/webapi/responders/v2/SearchResponderV2.scala
  webapi/src/test/scala/org/knora/webapi/e2e/v2/SearchRouteV2R2RSpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/util/search/gravsearch/prequery/NonTriplestoreSpecificGravsearchToPrequeryTransformerSpec.scala
Labels: API/V2, Gravsearch, breaking, bug

#1795 feat(store): Return a clearer exception when a triplestore read timeout occurs (DSP-1242)
  webapi/src/main/scala/org/knora/webapi/exceptions/Exceptions.scala
  webapi/src/main/scala/org/knora/webapi/messages/store/triplestoremessages/TriplestoreMessages.scala
  webapi/src/main/scala/org/knora/webapi/store/triplestore/http/HttpTriplestoreConnector.scala
  webapi/src/test/scala/org/knora/webapi/store/triplestore/BUILD.bazel
  webapi/src/test/scala/org/knora/webapi/store/triplestore/HttpTriplestoreConnectorSpec.scala
Labels: enhancement

#1787 feat(permissions): Delete permissions: (DSP-1169)
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/PermissionsResponderADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/PermissionsRouteADM.scala
  webapi/src/main/scala/org/knora/webapi/routing/admin/permissions/DeletePermissionRouteADM.scala
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/admin/deletePermission.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/admin/getProjectOfEntity.scala.txt
  webapi/src/main/twirl/org/knora/webapi/messages/twirl/queries/sparql/admin/isEntityUsed.scala.txt
  webapi/src/test/scala/org/knora/webapi/e2e/admin/PermissionsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/PermissionsResponderADMSpec.scala
Labels: API/Admin, enhancement

#1798 feat(listsEndpoint) Insert list item in specific position (DSP-1227)
  docs/03-apis/api-admin/lists.md
  docs/03-apis/api-admin/lists_new-list-admin-routes_v1.md
  webapi/scripts/expected-client-test-data.txt
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesUtilADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/ListsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/lists/OldListsRouteADMFeatureE2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/listsmessages/ListsMessagesADMSpec.scala
  webapi/src/test/scala/org/knora/webapi/responders/admin/ListsResponderADMSpec.scala
Labels: API/Admin, enhancement

#1799 fix (permissions): fix getting builtin groups while creating a permission (DSP-1296 )
  webapi/scripts/expected-client-test-data.txt
  webapi/src/main/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADM.scala
  webapi/src/main/scala/org/knora/webapi/responders/admin/PermissionsResponderADM.scala
  webapi/src/test/scala/org/knora/webapi/e2e/admin/PermissionsADME2ESpec.scala
  webapi/src/test/scala/org/knora/webapi/messages/admin/responder/permissionsmessages/PermissionsMessagesADMSpec.scala
Labels: API/Admin, bug

#1804 chore(gh-ci): Bring back the client-test-data command to github actions
  .github/workflows/main.yml
Labels: chore

#1803 chore: release v13.1.0
  CHANGELOG.md
  version.txt
Labels: autorelease: pending
